# COMP40610 Information Visualisation Assignment Data Processing

## 1. Data Selection

For this assignment, I selected datasets from the **Labour Market Section** of CSO's High Value Datasets. As an international student graduating in Ireland, I am interested in analyzing Ireland's employment market trends in recent years, examining how various factors influence the labour market dynamics.

I downloaded relevant datasets from the [CSO High Value Datasets](https://www.cso.ie/en/statistics/highvaluedatasetshvd) under the Labour Market and Earnings section. The raw datasets include:

- **Annual employment rate** (ALF01)
- **Quarterly employment rate** (QLF50)

These datasets provide comprehensive coverage of Ireland's employment statistics across different demographics, regions, and time periods.

## 2. Data Cleaning

In [1]:
# Import the required packages
import pandas as pd
import numpy as np
import os

### 2.1 Processing Annual Employment Rate Data

**Processing steps:**
- Read `ALF01_Annual Employment Rate.csv`
- Filter for Education Attainment Level: `'Levels of Education (Levels 0-8)'` (overall education level)
- Drop unnecessary columns: `UNIT`, `Statistic Label`, `Education Attainment Level`
- Rename `VALUE` column to `employment_rate`
- Convert `employment_rate` to numeric type
- Verify data quality (check for missing values and duplicates)

In [2]:
# Read annual employment rate data
annual_df = pd.read_csv('../raw_datasets/ALF01_Annual Employment Rate.csv')

print(f"Original shape: {annual_df.shape}")
print(f"\nOriginal columns: {list(annual_df.columns)}")
print(f"\nFirst few rows:")
print(annual_df.head())

Original shape: (4320, 8)

Original columns: ['Statistic Label', 'Year', 'Age Group', 'Sex', 'Education Attainment Level', 'NUTS 2 Region', 'UNIT', 'VALUE']

First few rows:
          Statistic Label  Year Age Group         Sex  \
0  Annual employment rate  2019  All ages  Both sexes
1  Annual employment rate  2019  All ages  Both sexes
2  Annual employment rate  2019  All ages  Both sexes
3  Annual employment rate  2019  All ages  Both sexes
4  Annual employment rate  2019  All ages  Both sexes

          Education Attainment Level         NUTS 2 Region UNIT  VALUE
0  Levels of Education (Levels  0-8)               Ireland    %   74.9
1  Levels of Education (Levels  0-8)  Northern and Western    %   74.0
2  Levels of Education (Levels  0-8)              Southern    %   72.8
3  Levels of Education (Levels  0-8)   Eastern and Midland    %   76.6
4        Less than primary (Level 0)               Ireland    %    NaN

In [3]:
# Filter for 'Levels of Education (Levels  0-8)' only
print(f"Unique Education Attainment Levels: {annual_df['Education Attainment Level'].unique()}")
annual_df = annual_df[annual_df['Education Attainment Level'] == 'Levels of Education (Levels  0-8)']
print(f"\nShape after filtering: {annual_df.shape}")

# Drop unnecessary columns
columns_to_drop = ['UNIT', 'Statistic Label', 'Education Attainment Level']
annual_df = annual_df.drop(columns=columns_to_drop)

# Rename VALUE to employment_rate
annual_df = annual_df.rename(columns={'VALUE': 'employment_rate'})

# Convert employment_rate to numeric
annual_df['employment_rate'] = pd.to_numeric(annual_df['employment_rate'], errors='coerce')

print(f"\nCleaned shape: {annual_df.shape}")
print(f"\nCleaned columns: {list(annual_df.columns)}")
print(f"\nFirst few rows:")
print(annual_df.head())
print(f"\nData types:")
print(annual_df.dtypes)
print(f"\nMissing values:")
print(annual_df.isnull().sum())

# Check for duplicates
duplicate_check = annual_df.groupby(['Year', 'Age Group', 'Sex', 'NUTS 2 Region']).size()
duplicates = duplicate_check[duplicate_check > 1]
print(f"\nNumber of duplicate combinations: {len(duplicates)}")
if len(duplicates) > 0:
    print(f"Duplicate rows:\n{duplicates}")

Unique Education Attainment Levels: ['Levels of Education (Levels  0-8)' 'Less than primary (Level 0)'
 'Primary and lower secondary education (Levels 1-2)'
 'Upper secondary and post-secondary non-tertiary education (Levels 3 and 4)'
 'Tertiary education (Levels 5-8)' 'Level of education - not stated']

Shape after filtering: (720, 8)

Cleaned shape: (720, 5)

Cleaned columns: ['Year', 'Age Group', 'Sex', 'NUTS 2 Region', 'employment_rate']

First few rows:
    Year Age Group         Sex         NUTS 2 Region  employment_rate
0   2019  All ages  Both sexes               Ireland             74.9
1   2019  All ages  Both sexes  Northern and Western             74.0
2   2019  All ages  Both sexes              Southern             72.8
3   2019  All ages  Both sexes   Eastern and Midland             76.6
24  2019  All ages        Male               Ireland             81.3

Data types:
Year                 int64
Age Group           object
Sex                 object
NUTS 2 Region       object
employment_rate    float64
dtype: object

Missing values:
Year               0
Age Group          0
Sex                0
NUTS 2 Region      0
employment_rate    0
dtype: int64

Number of duplicate combinations: 0

### 2.2 Processing Quarterly Employment Rate Data

**Processing steps:**
- Read `QLF50-Quarterly Employment Rate.csv`
- Filter for Education Attainment Level: `'Levels of Education (Levels 0-8)'` (overall education level)
- Drop unnecessary columns: `UNIT`, `Statistic Label`, `Education Attainment Level`
- Rename `VALUE` column to `employment_rate`
- Convert `employment_rate` to numeric type
- Verify data quality (check for missing values and duplicates)

In [4]:
# Read quarterly employment rate data
quarterly_df = pd.read_csv('../raw_datasets/QLF50-Quarterly Employment Rate.csv')

print(f"Original shape: {quarterly_df.shape}")
print(f"\nOriginal columns: {list(quarterly_df.columns)}")
print(f"\nFirst few rows:")
print(quarterly_df.head())

Original shape: (5148, 7)

Original columns: ['Statistic Label', 'Quarter', 'Sex', 'Education Attainment Level', 'Age Group', 'UNIT', 'VALUE']

First few rows:
   Statistic Label Quarter         Sex         Education Attainment Level  \
0  Employment rate  2019Q1  Both sexes  Levels of Education (Levels  0-8)
1  Employment rate  2019Q1  Both sexes  Levels of Education (Levels  0-8)
2  Employment rate  2019Q1  Both sexes  Levels of Education (Levels  0-8)
3  Employment rate  2019Q1  Both sexes  Levels of Education (Levels  0-8)
4  Employment rate  2019Q1  Both sexes  Levels of Education (Levels  0-8)

       Age Group UNIT  VALUE
0       All ages    %   74.9
1  20 - 24 years    %   64.0
2  25 - 29 years    %   80.1
3  25 - 54 years    %   80.1
4  30 - 34 years    %   81.4

In [5]:
# Filter for 'Levels of Education (Levels  0-8)' only
print(f"Unique Education Attainment Levels: {quarterly_df['Education Attainment Level'].unique()}")
quarterly_df = quarterly_df[quarterly_df['Education Attainment Level'] == 'Levels of Education (Levels  0-8)']
print(f"\nShape after filtering: {quarterly_df.shape}")

# Drop unnecessary columns
columns_to_drop = ['UNIT', 'Statistic Label', 'Education Attainment Level']
quarterly_df = quarterly_df.drop(columns=columns_to_drop)

# Rename VALUE to employment_rate
quarterly_df = quarterly_df.rename(columns={'VALUE': 'employment_rate'})

# Convert employment_rate to numeric
quarterly_df['employment_rate'] = pd.to_numeric(quarterly_df['employment_rate'], errors='coerce')

print(f"\nCleaned shape: {quarterly_df.shape}")
print(f"\nCleaned columns: {list(quarterly_df.columns)}")
print(f"\nFirst few rows:")
print(quarterly_df.head())
print(f"\nData types:")
print(quarterly_df.dtypes)
print(f"\nMissing values:")
print(quarterly_df.isnull().sum())

# Check for duplicates
duplicate_check = quarterly_df.groupby(['Quarter', 'Sex', 'Age Group']).size()
duplicates = duplicate_check[duplicate_check > 1]
print(f"\nNumber of duplicate combinations: {len(duplicates)}")
if len(duplicates) > 0:
    print(f"Duplicate rows:\n{duplicates}")

Unique Education Attainment Levels: ['Levels of Education (Levels  0-8)' 'Less than primary (Level 0)'
 'Primary and lower secondary education (Levels 1-2)'
 'Upper secondary and post-secondary non-tertiary education (Levels 3 and 4)'
 'Tertiary education (Levels 5-8)' 'Level of education - not stated']

Shape after filtering: (858, 7)

Cleaned shape: (858, 4)

Cleaned columns: ['Quarter', 'Sex', 'Age Group', 'employment_rate']

First few rows:
  Quarter         Sex      Age Group  employment_rate
0  2019Q1  Both sexes       All ages             74.9
1  2019Q1  Both sexes  20 - 24 years             64.0
2  2019Q1  Both sexes  25 - 29 years             80.1
3  2019Q1  Both sexes  25 - 54 years             80.1
4  2019Q1  Both sexes  30 - 34 years             81.4

Data types:
Quarter             object
Sex                 object
Age Group           object
employment_rate    float64
dtype: object

Missing values:
Quarter            0
Sex                0
Age Group          0
employment_rate    0
dtype: int64

Number of duplicate combinations: 0

## 3. Export Cleaned Datasets

In [6]:
# Export annual employment rate data
annual_output_path = 'annual_employment_rate_cleaned.csv'
annual_df.to_csv(annual_output_path, index=False)
print(f"Annual employment rate data exported to: {annual_output_path}")

Annual employment rate data exported to: annual_employment_rate_cleaned.csv

In [7]:
# Export quarterly employment rate data
quarterly_output_path = 'quarterly_employment_rate_cleaned.csv'
quarterly_df.to_csv(quarterly_output_path, index=False)
print(f"Quarterly employment rate data exported to: {quarterly_output_path}")

Quarterly employment rate data exported to: quarterly_employment_rate_cleaned.csv

## 4. Data Summary

### Annual Employment Rate Dataset
- **Remaining columns**: Year, Age Group, Sex, NUTS 2 Region, employment_rate
- **Dropped columns**: UNIT, Statistic Label, Education Attainment Level

### Quarterly Employment Rate Dataset
- **Remaining columns**: Quarter, Sex, Age Group, employment_rate
- **Dropped columns**: UNIT, Statistic Label, Education Attainment Level

In [8]:
# Final check - display unique values for key columns
print("=" * 50)
print("ANNUAL EMPLOYMENT RATE DATASET")
print("=" * 50)
print(f"\nUnique Years: {sorted(annual_df['Year'].unique())}")
print(f"\nUnique Age Groups: {annual_df['Age Group'].unique()}")
print(f"\nUnique Sex categories: {annual_df['Sex'].unique()}")
print(f"\nUnique Regions: {annual_df['NUTS 2 Region'].unique()}")
print(f"\nEmployment rate range: {annual_df['employment_rate'].min():.1f}% - {annual_df['employment_rate'].max():.1f}%")

print("\n" + "=" * 50)
print("QUARTERLY EMPLOYMENT RATE DATASET")
print("=" * 50)
print(f"\nUnique Quarters: {len(quarterly_df['Quarter'].unique())} quarters")
print(f"Quarter range: {quarterly_df['Quarter'].min()} to {quarterly_df['Quarter'].max()}")
print(f"\nUnique Age Groups: {quarterly_df['Age Group'].unique()}")
print(f"\nUnique Sex categories: {quarterly_df['Sex'].unique()}")
print(f"\nEmployment rate range: {quarterly_df['employment_rate'].min():.1f}% - {quarterly_df['employment_rate'].max():.1f}%")

==================================================
ANNUAL EMPLOYMENT RATE DATASET
==================================================

Unique Years: [np.int64(2019), np.int64(2020), np.int64(2021), np.int64(2022), np.int64(2023), np.int64(2024)]

Unique Age Groups: ['All ages' '20 - 24 years' '25 - 29 years' '30 - 34 years'
 '35 - 39 years' '40 - 44 years' '45 - 49 years' '50 - 54 years'
 '55 - 59 years' '60 - 64 years']

Unique Sex categories: ['Both sexes' 'Male' 'Female']

Unique Regions: ['Ireland' 'Northern and Western' 'Southern' 'Eastern and Midland']

Employment rate range: 39.7% - 95.8%

==================================================
QUARTERLY EMPLOYMENT RATE DATASET
==================================================

Unique Quarters: 26 quarters
Quarter range: 2019Q1 to 2025Q2

Unique Age Groups: ['All ages' '20 - 24 years' '25 - 29 years' '25 - 54 years'
 '30 - 34 years' '35 - 39 years' '40 - 44 years' '45 - 49 years'
 '50 - 54 years' '55 - 59 years' '60 - 64 years']

Unique Sex categories: ['Both sexes' 'Male' 'Female']

Employment rate range: 40.8% - 92.5%